{% extends “forum/base.html” %}
{% load bootstrap3 %}
{% block content %}
<h1>
{% if object %}{% comment %}objectがある場合は既存のレコードの編集{% endcomment %}
    Edit
{% else %}{% comment %}objectがない場合はレコードの新規作成{% endcomment %}
    Add
{% endif %}
post
</h1>


<form method="post" action=".">
{% csrf_token %}
{% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>{% endblock %}
